# deps
node_modules
.pnpm-store

# builds
.next
out
dist
build
*.tsbuildinfo

# env
.env
.env.*
!.env.example

# supabase local
supabase/.branches
supabase/.temp
supabase/.env

# infra runtime data
infra/volumes/db/data
infra/volumes/storage
infra/.env

# os / editor
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.log
